<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./partials/head') %>
     <title>Home Page</title>
</head>
<body>
     <%- include('./partials/nav') %>

     <div class="container mt-4">
          <div class="row">
               <h1 class="text-center" style="font-size: 2rem;">Blog Post</h1>
          <% blogs.forEach(blog => { %>
            <div class="col-md-4 mt-3">
              <div class="card" style="box-shadow: 1px 3px 8px #8d8888;">
                <!-- Card content goes here -->
                <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          
            <% }) %>
            <!-- Repeat similar structure for other columns -->
          </div>
        </div>
        
  
     <%- include('./partials/script') %>
</body>
</html>